#header .navbar-header{
    display: flex;
    flex-direction: row;
}

nav {
    display: flex;
    align-items: center;
}

nav .cart-widget{
    display: flex;
    align-items: center;
    padding-left: 30px;

}

@media (min-width: 720px){

    nav .cart-widget{
        display: flex;
        align-items: center;

    }

}