body {
    /* font-family: 'Roboto', sans-serif; */
    /* font-family: "Source Code Variable Bold"; */
    font-family: 'Source Code Variable', monospace;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    /* padding-bottom: 100px; */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/* comentar */

/* html * {
    background: rgba(255, 0, 0, .1);
    box-shadow: 0 0 0 1px red;
} */

/* comentar */

.greeting{
    margin: 0.5rem;
    padding: 0.5rem;
}

.item-list article{
    min-width: 200px;
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.item-list a{
    text-decoration: none;
    color: black;
    width: 100px;
}

.title, .price {
    margin: 5px;
}

.item-detail article{
    margin: 1rem;
    padding: 0.5rem;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}
.item-detail-card article h3{

    text-align: justify;
    width: 350px
}

.item-detail .item-detail-description{
    margin: 20px;
}



.item-catalog:hover{
    transform: scale(1.05);
}

.item-list,.item-detail{
    margin: 0.5rem;
    padding: 0.5rem;
    text-align: center;
    margin-bottom: 20px;
    width: 75%;
    justify-content: center ;
    
}

.cart-table {
    display: flex;
    align-items: center;
}

.cart{
    flex-direction: column;
    align-items: center;
}


table, th {
    border: 2px solid;
    border-collapse: collapse;
    border-color: orangered;
    text-align: center;
    
}

table .button-remove-item {
    cursor: pointer;
}








